---
title: Page Not Found
permalink: /404.html
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <style>
    h1 {
      font-size: 4em;
      font-weight: 500;
      margin: 0;
    }
  </style>
  <body>
    {% include header.html %}
    <section class='page-section error-page'>
      <div class='container-narrow text-center'>
        <h2>Room 404</h2>
        <p class="lead">Oops... No one is here.</p><br />
        <img src="{{site.baseurl}}/assets/img/knock-knock.jpg" class="404-img" alt="No Page Found">
      </div>
    </section>
  </body>
</html>
