{% include base.html %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="me" href="https://twitter.com/ALuoyuan" />
  <link rel="me" href="https://github.com/AlexXiong97" />
  <link rel="me" href="https://facebook.com/alex.luoyuan" />

  <!-- Google Fonts loaded here depending on setting in _data/options.yml true loads font, blank does not-->
  {% if site.data.options.lato_font_load %}
    <link href='//fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css'>
  {% endif %}

  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}

  {% if page.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}

  {% capture page_url %}{{ page.url | replace:'/index.html','/' | append: site.url | append: site.baseurl }}{% endcapture %}
  {% if page_url %}
    <meta content="{{ base }}{{ page_url }}" property="og:url">
  {% endif %}

  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="https://facebook/alex.luoyuan" property="article:author">
  {% endif %}
  {% if page.image %}
    <meta content="{{ base }}/assets/img/{{ page.image }}" property="og:image">
  {% else %}
    <meta content="{{ base }}/assets/img/alex.jpg" property="og:image">
  {% endif %}
  {% if page.categories %}
    {% for category in page.categories limit:10 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}

  <!-- Load jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Load up MathJax script if needed ... specify in /_data/options.yml file-->
  {% if site.data.options.mathjax %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showProcessingMessages: false,
        messageStyle: 'none',
        tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [['$$','$$']],
          processEnvironments: false
        },
        // show equation numbers
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          }
        },
        'HTML-CSS': {
          imageFont: null
        }
      });
    </script>
  {% endif %}
  {% if page.layout == 'post' %}
    <!-- Loading scrollTop js -->
    <script type="text/javascript" src="{{base}}/assets/js/material-scrolltop.js"></script>
    <link rel="stylesheet" href="{{base}}/assets/css/material-scrolltop.css">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ "/css/tufte.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/print.css" | prepend: site.baseurl }}" media="print">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> -->

  <!-- Loading anchorjs -->
  <script type="text/javascript"src="{{base}}/assets/js/anchor.min.js"></script>
  {% seo %}
</head>
