html, body {
  height:100%;
  width: 100%;
  padding: 0px 0px;
  margin: 0px;
}

@font-face {
  font-family: ETBembo;
  src: url("../../fonts/ETBembo-RomanLF.ttf"); }


body {
    background-image: linear-gradient(to bottom, #021e42 0%,#0d426b 100%,#F8F8F6 0%,#f8f8f6 100%);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-color: #f8f8f6;
    font-family: ETBembo;
}

#dialog {
  position: absolute;
  left: 10%;
  top: 15%;
  color: #fff;
}

#hey {
  font-weight: bold;
  font-size: 5em;
  font-family: Helvetica;
}

#i {
  font-size: 2em;
  margin-top: 75px;
  /*font-family: Helvetica;*/
}
#p1 {
  height: 1px;
}

#p2 {
  margin-top: 90px;
  font-family: ETBembo;
  width: 100%;
}

.brief {
  display: none;
}

.seo-elements {
  display: none !important;
}

div[itemscope] {
  display: none;
}

a {
  color: #D5DBDB;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #F9E79F;
  text-decoration: underline;
  text-decoration-style:dotted;
}

#links {
  /*position: absolute;
  bottom: 0px;*/
  margin-top: 50px;
}

#links ul a {
  color: #F9E79F;
  text-decoration: none;
  font-weight: bold;
}

#links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  display: inline;
  margin-left: 30px;
}

#links li {
    display: inline;
    padding-right: 30px;
}

.small {
    font-size: 20px;
}
#button {
  font-size: 20px;
  border: 1px solid #ffffff;
  padding: 15px 20px;
  border-radius: 999px;
  color: #fff;
}
#button:hover {
  text-decoration: none !important;
  background: #F9E79F;
  color: #021e42;
}


@media screen and (max-width: 1130px) {
    body {
        /*background-size: 50% auto, 100%;
        background-color: #0d426b;
        background-position: bottom left;*/
    }
}

@media screen and (width: 1366px) and (height: 1024px) {
    body {
        /*background-size: 50% auto, 100%;
        background-color: #0d426b;
        background-position: bottom left;*/
    }
}
@media screen and (height: 1366px) and (width: 1024px) {
  #dialog {
    left: 20%;
  }
}

@media screen and (max-width: 844px) {
    #hey {
      font-size: 3em;
    }
}

@media screen and (max-width: 750px) {
  #links ul {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  #dialog {
    margin-left: 8px;
    margin-right: 8px;
    top: 8% !important;
    left: 5% !important;
  }
  .extensive {
    display: none;
  }
  .brief {
    display: block;
  }
  #hey {
    font-size: 3em;
  }
}

@media screen and (max-height: 440px) {
  #hey {
    font-size: 2em;
  }
  #i, #p2 {
    margin-top: 0px;
  }
}

@media screen and (height: 568px) and (width: 320px) {
  body {
    /*background-position: right;*/
  }
  .extensive {
    display: none;
  }
  #hey {
    font-size: 2em;
  }
  #p3 {
    margin-top:-30px;
  }
  #button {
    font-size: 20px;
  }
}
