---
layout: new
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.title}}</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/welcome.css">
  <meta name="description" content="Alex is a cryptography lover who explores modular, decentralized design.">
  
  <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/img/favicon.ico"/>
  <link rel="me" href="https://twitter.com/ALuoyuan" />
  <link rel="me" href="https://github.com/AlexXiong97" />
  <link rel="me" href="https://facebook.com/alex.luoyuan" />
  <meta content="Luoyuan Alex Xiong" property="og:site_name">
  <meta content="Luoyuan Alex Xiong" property="og:title">
  <meta content="article" property="og:type">
  <meta content="Alex is a cryptography lover who explores modular, decentralized design." property="og:description">
  <meta content="/" property="og:url">
  <!-- <meta content="https://nicola.io/assets/img/alex.jpg" property="og:image"> -->
  <link rel="canonical" href="/">
  <!-- <link rel="alternate" type="application/rss+xml" title="Nicola Greco | Blog" href="https://nicola.io/feed.xml" /> -->
</head>
<body>
<div id="container">

  <div id="dialog">
    <div id="hey">
      Hi, Alex Here
    </div>
    <div id="i">
      <p id="p1">
      </p>
      <p id="p2" class="small">
      I am an undergrad at <a href="http://www.ntu.edu.sg/Pages/home.aspx" target="_blank"><b>NTU Singapore</b></a>. <br><br>I was previously at <a href="https://new.consensys.net/" target="_blank">Consensys(NY)</a>, <a href="https://kyber.network/" target="_blank">Kyber Network</a> and <a href="https://ncl.sg/" target="_blank">National CyberSecurity R&D Lab</a>.
      </p>
      <div id="links">
      <a href="../blog/" id="button">Read my blog &rarr;</a>
      <ul>
        <li><a href="https://twitter.com/ALuoyuan" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/AlexXiong97" target="_blank">Github</a></li>
        <li><a href="../about">About</a></li>
      </ul>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  function write (obj, sentence, i, cb) {
    if (i != sentence.length) {
      setTimeout(function () {
        i++
        obj.innerText = sentence.substr(0,i)
        write(obj, sentence, i, cb)
      }, 50)
    } else {
      cb()
    }
  }
  function erase (obj, cb) {
    var sentence = obj.innerText
    if (sentence.length != 0) {
      setTimeout(function () {
        sentence = sentence.substr(0,sentence.length-1)
        obj.innerText = sentence
        erase(obj, cb)
      }, 18/(i*(i/10000000)))
    } else {
      obj.innerText = "  "
      cb()
    }
  }

  function writeerase(obj, sentence, time, cb) {
    write(obj, sentence, 0, function () {
      setTimeout(function () {
        erase(obj, cb)
      }, time)
    })
  }

  var sentences = [
    "I am a cryptography lover while a blockchain developer.",
    "Moxie Marlinspike and Dan Boneh are my inspirations.",
    "I believe decentralization without modualrity => monopoly of network effect.",
    "I daydream a lot.",
    "I think about scaling Blockchain.",
    "I am currently devouring Lattice Based Cryptography.",
  ]
  var counter = 0
  var p1 = document.querySelector("#p1")
  function loop () {
    var sentence = sentences[counter % sentences.length]
    writeerase(p1, sentence, 1500, loop)
    counter++
  }
  loop()
</script>

</body>
</html>
